NEXT_PUBLIC_SUPABASE_URL=https://epxucbfkebgywwixyzbs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVweHVjYmZrZWJneXd3aXh5emJzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxNzc0MzMsImV4cCI6MjA5NDc1MzQzM30.zqBSnMkbxeKcJ_SfBfD0-MCiKpzXHUnjDxS5DgemFSQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVweHVjYmZrZWJneXd3aXh5emJzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTE3NzQzMywiZXhwIjoyMDk0NzUzNDMzfQ.MQNquD9vpOSxRkFfSaVG4hTNtnxvA2tk7jnhbzO9iX0
